<mat-grid-list cols="4" rowHeight="120px">
  <mat-grid-tile *ngFor="let tile of tiles; let i=index" [colspan]="tile.cols" [rowspan]="tile.rows" [style.background-color]="tile.color">

    <div *ngIf="i==1">
      <!-- <a id="updatebutton" mat-raised-button color="primary" target="_blank" href="http://cgwa-noc.gov.in/ExternalLogin.aspxReturnUrl=%2fExternalUser%2fApplicantHome.aspx">Update NOC</a>     -->
      <mat-form-field class="Input">
        <input matInput placeholder="Enter NOC ID" [(ngModel)]="NOCid" (keyup.enter)=handleNOCinput($event)>
      </mat-form-field>
    </div>

    <div *ngIf="i==4">
      <h2>Industry Information</h2>
      <table>
        <tr>
          <td>Industry Name:</td>
          <td>{{reuse3.name}}</td>
        </tr>
        <tr>
          <td>Type of Industry:</td>
          <td>{{reuse3.typeIndustry}}</td>
        </tr>
        <tr>
          <td>Type of Structure:</td>
          <td>{{reuse3.typeStruct}}</td>
        </tr>
        <tr>
          <td>H.P. of motor:</td>
          <td>{{reuse3.HpPump}}</td>
        </tr>
        <tr>
          <td>Quauntum of Extraction: </td>
          <td>{{reuse3.region}}</td>
        </tr>
      </table>
    </div>

    <div *ngIf="i==3">
      <h2 id="title2"> Industry Wise Consumption Data </h2>
      <mat-tab-group>
        <mat-tab label="Daily">
          <ngx-charts-line-chart [view]="view" [scheme]="colorScheme" [results]="reuse" [gradient]="gradient" [xAxis]="showXAxis" [yAxis]="showYAxis"
            [legend]="showLegend" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel0"
            [yAxisLabel]="yAxisLabel0" [autoScale]="autoScale" (select)="onSelect($event)">
          </ngx-charts-line-chart>
        </mat-tab>
        <mat-tab label="Weekly">
          <ngx-charts-line-chart [view]="view" [scheme]="colorScheme" [results]="reuse4" [gradient]="gradient" [xAxis]="showXAxis"
            [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel1"
            [yAxisLabel]="yAxisLabel1" [autoScale]="autoScale" (select)="onSelect($event)">
          </ngx-charts-line-chart>
        </mat-tab>
        <mat-tab label="Monthly">
          <ngx-charts-line-chart [view]="view" [scheme]="colorScheme" [results]="reuse2" [gradient]="gradient" [xAxis]="showXAxis"
            [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel2"
            [yAxisLabel]="yAxisLabel2" [autoScale]="autoScale" (select)="onSelect($event)">
          </ngx-charts-line-chart>
        </mat-tab>
      </mat-tab-group>
      <h2 id="title2"> Depth of Groundwater (Rise/Fall) </h2>
      <ngx-charts-line-chart [view]="view" [scheme]="colorScheme1" [results]="reuse" [gradient]="gradient" [xAxis]="showXAxis"
        [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel3"
        [yAxisLabel]="yAxisLabel3" [autoScale]="autoScale" (select)="onSelect($event)">
      </ngx-charts-line-chart>
    </div>

    <div *ngIf="i===5"><br><br><br><br>
      <h2 id="piechart"> Weekly Water Usage (cubic cms)</h2>
      <app-pie style='width:300px; height:400px' [NOCid]="NOCid"></app-pie>
    </div>

  </mat-grid-tile>
</mat-grid-list>