.Input{
    margin: auto;
    float: right;
}

#updatebutton {
    margin-left: -70%;
    margin-top: 12px;
}

.graph1{
    margin: auto;
    padding: 10px;
}
.graph2{
    margin: auto;
    padding: 1px;
}
td, th {
  border: 1px solid #000000;
  text-align: left;
  padding: 8px;
  font-size: 20px;
  background-color: #fdfdfd
}

#title2 {
    margin-left: 20px;
}
#piechart{
    margin-bottom: -50px;
    margin-left: 310px;
}