<mat-toolbar color="primary">
    <button mat-button [matMenuTriggerFor]="menu"><i class="material-icons">menu</i></button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/login">Login</button>
        <button mat-menu-item routerLink="/usageconfig">Configure</button>
    </mat-menu>
    <span>Groundwater Monitoring </span>

    <button mat-flat-button color="primary" routerLink="/home">Home</button>
    <button mat-flat-button color="primary" routerLink="/map">Map</button>
    <button mat-flat-button color="primary" routerLink="/monitoring">Monitoring</button>
    <button mat-flat-button color="primary" routerLink="/comparision">Analysis</button>
    <button mat-flat-button color="primary" routerLink="/prediction">Prediction</button>

    <!-- This fills the remaining space of the current row -->
    <span class="example-fill-remaining-space"></span>
</mat-toolbar>

<router-outlet></router-outlet>
<br>

<mat-toolbar color="primary">
    <div id="Footer" class="example-fill-remaining-space">Content Provided and Updated by Central Ground Water Authority (CGWA)<br> Designed and developed by Team hiddenforprivacy, PICT, Pune </div>
</mat-toolbar>