<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Usage Configuration</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form class="example-form">
      <table class="example-full-width" cellspacing="0">
        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="warningLimit" [(ngModel)]="usageConfig.warningLimit" name="warningLimit" required>times water limit
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="alertLimit" [(ngModel)]="usageConfig.alertLimit" name="alertLimit" required>times water limit
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="criticalLimit" [(ngModel)]="usageConfig.criticalLimit" name="criticalLimit" required>times water limit
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="renewalNoticePeriod" [(ngModel)]="usageConfig.renewalNoticePeriod" name="renewalNoticePeriod" required>Renewal Notice Period (Months)
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="ground_water_depth" [(ngModel)]="usageConfig.ground_water_depth" name="ground_water_depth" required>Ground water depth (meters)
            </mat-form-field>
          </td>
        </tr>
      </table>
    </form>
    <!-- <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner> -->
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="saveLimits()" color="primary">Save</button>
  </mat-card-actions>
</mat-card>