mat-form-field {
    padding: 10px;
}

#welcomemessage{
    text-align: center;
}

#WandA {
    color: blue;
    margin-left: -40px;
}

.Alarm{
    margin-top: 100px;
    float:right;
    width: 90%;
}

mat-list{
    padding: 0px;
}

// table {
//     width: 100%;
//   }

#customTable {   
  border: 1px solid #000000;
  text-align: left;
  padding: 8px;
  font-size: 20px;
  background-color: #fdfdfd
}

// .table{
//     margin-right: -100px;
//     width: 100%;
// }

#predict{
    margin-left: 200px;
}
#noc{
    margin-left: 40px;
}
