<!--<mat-form-field>
  <mat-select placeholder="Select State" [(value)]="selectedState" [(ngModel)]="selectedState" (ngModelChange)='handleStateChange(selectedState);'>
    <div *ngFor="let state of states;">
      <mat-option value="{{state.name}}" >{{state.name}}</mat-option>
    </div>
  </mat-select>
</mat-form-field>

<mat-form-field>
    <mat-select placeholder="Select District" [(value)]="selectedCity">
        <div *ngFor="let city of cities;">
          <mat-option value="{{city}}">{{city}}</mat-option>
        </div>
      </mat-select>  
</mat-form-field>

<mat-form-field>
  <mat-select placeholder="Quantum of Extraction" [(value)]="selectedQuantum">
    <div *ngFor="let quanta of quantumData">
      <mat-option value="{{quanta}}">{{quanta}}</mat-option>
    </div>
  </mat-select>
</mat-form-field>

<mat-card class = "Alarm">
    <mat-card-header>
      <mat-card-title>Warnings and Alarms</mat-card-title>
    </mat-card-header>
          <table>
            <tr>
              <th>NOC Status </th>
              <td>Status here</td>
            </tr>
            <tr>
              <th>Water Usage Status </th>              
              <td>Status here</td>
            </tr>
          </table>
</mat-card>

<mat-card class="Statistics">
  <mat-card-header>
    <mat-card-title>Statistics</mat-card-title>
  </mat-card-header>
</mat-card>

<mat-card class="Chart">
  <mat-card-header>
    <mat-card-title>Chart</mat-card-title>
  </mat-card-header>
</mat-card>-->
