<h1 id="welcomemessage">REGION WISE MONITORING OF GROUNDWATER EXTRACTION</h1>
<mat-grid-list cols="4" rowHeight="100px">
  <mat-grid-tile *ngFor="let tile of tiles;let i=index" [colspan]="tile.cols" [rowspan]="tile.rows" [style.background-color]="tile.color">
    <div *ngIf="i===0">
      <mat-form-field>
        <mat-select placeholder="Select State" [(value)]="selectedState" [(ngModel)]="selectedState" (ngModelChange)='handleStateChange(selectedState);'
          required>
          <mat-option>--</mat-option>
          <div *ngFor="let state of states;">
            <mat-option value="{{state.name}}">{{state.name}}</mat-option>
          </div>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="Select District" [(value)]="selectedCity" [(ngModel)]="selectedCity" (ngModelChange)='handleCityChange(selectedCity);'
          required>
          <mat-option>--</mat-option>
          <div *ngFor="let city of cities;">
            <mat-option value="{{city}}">{{city}}</mat-option>
          </div>
        </mat-select>
      </mat-form-field>
      <mat-paginator [length]="waterUsage.length"
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 25, 100]"
      (page)='handlePageChange($event)'>
      </mat-paginator>

    </div>

    <div *ngIf="i==1">
      <h2 id="WandA">WARNINGS AND ALARMS</h2>
      <h4 id="noc">NOC Validity</h4>
      <table>
        <tr id="customTable">
          <th id="customTable">Safe NOCs:</th>
          <td id="customTable">{{safecount}}</td>
        </tr>
        <tr id="customTable">
          <th id="customTable">Renewal alert:</th>
          <td id="customTable">{{renewcount}}</td>
        </tr>
        <tr id="customTable">
          <th id="customTable">Expired NOCs:</th>
          <td id="customTable">{{expcount}}</td>
        </tr>
      </table>
    </div>

    <div *ngIf="i==2">
      <table mat-table [dataSource]="waterUsagePage" class="mat-elevation-z8" style='border: 1px solid black; '>

        <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->

        <!-- Industry Name Column -->
        <ng-container matColumnDef="name_of_industry">
          <th mat-header-cell *matHeaderCellDef> Industry </th>
          <td mat-cell *matCellDef="let element"> {{element.name_of_industry}} </td>
        </ng-container>

        <!-- Email Column -->
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef> Email </th>
          <td mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>

        <!-- State Column -->
        <ng-container matColumnDef="state">
          <th mat-header-cell *matHeaderCellDef> State </th>
          <td mat-cell *matCellDef="let element"> {{element.state}} </td>
        </ng-container>

        <!-- City Column -->
        <ng-container matColumnDef="city">
          <th mat-header-cell *matHeaderCellDef> City </th>
          <td mat-cell *matCellDef="let element"> {{element.city}} </td>
        </ng-container>

        <!-- Status Column -->
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef> Status </th>
          <td mat-cell *matCellDef="let element"> {{element.status}} </td>
        </ng-container>

        <!-- NOC Specified Column -->
        <ng-container matColumnDef="total_water_req">
          <th mat-header-cell *matHeaderCellDef> NOC Specified </th>
          <td mat-cell *matCellDef="let element"> {{element.total_water_req}} </td>
        </ng-container>

        <!-- Consumption Column -->
        <ng-container matColumnDef="consumption">
          <th mat-header-cell *matHeaderCellDef> Consumption </th>
          <td mat-cell *matCellDef="let element"> {{element.consumption}} </td>
        </ng-container>

        <!-- ground_water_depth Column -->
        <ng-container matColumnDef="ground_water_depth">
          <th mat-header-cell *matHeaderCellDef>Ground water depth </th>
          <td mat-cell *matCellDef="let element"> {{element.ground_water_depth}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>

    <div *ngIf="i==3">
      <strong>CLASSIFICATION OF INDUSTRIES WITH RESPECT TO QUANTUM OF EXTRACTION</strong>
      <br><br>
      <ngx-charts-bar-vertical class="graph1" [view]="view" [scheme]="colorScheme" [results]="totals" [gradient]="gradient" [xAxis]="showXAxis"
        [yAxis]="showYAxis" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [yAxisLabel]="yAxisLabel" [xAxisLabel]="xAxisLabel"
        (select)="onSelect($event)">
      </ngx-charts-bar-vertical>
    </div>
  </mat-grid-tile>
</mat-grid-list>