mat-form-field {
    padding: 10px;
}

waterlevelMap {
    width: 500px;
    height: 700px;
}

#WandA {
    color: red;
}

.Alarm{
    margin-top: 100px;
    float:right;
    width: 90%;
}

mat-list{
    padding: 0px;
}