<mat-grid-list cols="4" rowHeight="100px">
  <mat-grid-tile *ngFor="let tile of tiles;let i=index" [colspan]="tile.cols" [rowspan]="tile.rows" [style.background-color]="tile.color">
    <div *ngIf="i===0">
      <mat-form-field>
        <mat-select placeholder="Select State" [(value)]="selectedState" [(ngModel)]="selectedState" (ngModelChange)='handleStateChange(selectedState);'
          required>
          <mat-option>--</mat-option>
          <div *ngFor="let state of states;">
            <mat-option value="{{state.name}}">{{state.name}}</mat-option>
          </div>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="Select District" [(value)]="selectedCity" [(ngModel)]="selectedCity" (ngModelChange)=' submitted();'
          required>
          <mat-option>--</mat-option>
          <div *ngFor="let city of cities;">
            <mat-option value="{{city}}">{{city}}</mat-option>
          </div>
        </mat-select>
      </mat-form-field>
    </div>

    <div *ngIf="i==1">
      <h2 id="WandA">Warnings and Alarms</h2>
    </div>

    <div *ngIf="i==2">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="email" [(ngModel)]="email" name="email" required>
      </mat-form-field>
      <button mat-raised-button (click)="sendEmail()">Notify</button>
    </div>

    <div *ngIf="i==3">
      <mat-list role="list">
        <mat-list-item role="listitem">
          <h2>NOC Validity</h2>
          <br>
        </mat-list-item>
        <mat-list role="sublist">
          <mat-list-item role="sublistitem">
            <mat-icon matListIcon>arrow_right_alt</mat-icon>
            <span>Safe NOCs : {{safecount}} </span>
          </mat-list-item>
          <mat-list-item role="sublistitem">
            <mat-icon matListIcon>arrow_right_alt</mat-icon>
            <span>Renewal alert: {{renewcount}} </span>
          </mat-list-item>
          <mat-list-item role="sublistitem">
            <mat-icon matListIcon>arrow_right_alt</mat-icon>
            <span> Expired NOCs: {{expcount}}</span>
          </mat-list-item>
        </mat-list>
        <br><br><br>
      </mat-list>
      <mat-list role="list">
        <mat-list-item role="listitem">
          <h2>Water Usage</h2>
          <br>
        </mat-list-item>
        <mat-list role="sublist">
          <mat-list-item role="sublistitem">
            <mat-icon matListIcon>arrow_right_alt</mat-icon>
            <span></span>
          </mat-list-item>
        </mat-list>
        <br><br><br>
      </mat-list>
    </div>

  </mat-grid-tile>
</mat-grid-list>