.example-card {
    float: right;
    width: 48%;
 }
.example-card-2 {
    width: 46%; 
}
h3{
    margin-left: 120px;
}
#Content{
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    text-indent: 5px;
}

#indent{
    text-indent: 20px;
}