<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>MAP</mat-card-title>
  </mat-card-header>
  <img mat-card-image src="http://cgwb.gov.in/MAP/MAJOR%20AQUIFERS.JPG" alt="Major Aquifiers">
</mat-card>

<mat-card class="example-card-2">
  <mat-card-header>
    <mat-card-title>ABOUT</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>
      Central Ground Water Authority has been constituted under Section 3 (3) of the Environment (Protection) Act, 1986 to regulate and control development and management of ground water resources in the country.
      Regulatory measures : <br> 1. The Central Ground Water Authority is regulating withdrawal of ground water by industries/ projects in 802 Over-exploited and 169 Critical Assessment Units. List of these critical areas has been circulated to the State Pollution Control Boards and Ministry of Environment & Forests which refer the new industries/ projects to CGWA for obtaining permission.
<br> 2. CGWA has notified 162 critical/ overexploited areas in parts of NCT Delhi, Haryana, Punjab, Andhra Pradesh, Rajasthan, MP, Gujarat, West Bengal, Uttar Pradesh, Karnataka, Tamil Nadu, UT of Puducherry and UT of Diu for control and regulation of development of ground water resources. For enforcement of the regulatory measures in these areas, concerned Deputy Commissioners/ District Magistrates have been directed under Section 5 of Environment (Protection) Act, 1986 to regulate ground water development in these notified areas.
<br> 3. Construction of new ground water structures is prohibited in the notified areas. Permission of drilling tubewells is being granted only to the Govt. agencies responsible for drinking water supply.
    </p>
      </mat-card-content>
      </mat-card>
      <br>
    <ngx-charts-bar-vertical class="graph1"
    [view]="view" 
    [scheme]="colorScheme" 
    [results]="reuse" 
    [gradient]="gradient" 
    [xAxis]="showXAxis"
    [yAxis]="showYAxis" 
    [showXAxisLabel]="showXAxisLabel" 
    [showYAxisLabel]="showYAxisLabel" 
    [xAxisLabel]="xAxisLabel"
    [yAxisLabel]="yAxisLabel" 
    (select)="onSelect($event)">
  </ngx-charts-bar-vertical>
