<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>MAP</mat-card-title>
  </mat-card-header>
  <img mat-card-image src="http://cgwb.gov.in/MAP/MAJOR%20AQUIFERS.JPG" alt="Major Aquifiers">
</mat-card>

<mat-card class="example-card-2">
  <mat-card-header>
    <mat-card-title>ABOUT</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>
      Lorem ipsum dolor si amet.  Lorem  ipsum dolor si amet. Lorem ipsum dolor si amet. Lorem ipsum dolor si amet.
      Lorem ipsum dolor si amet. Lorem ipsum dolor si amet. Lorem ipsum dolor si amet. Lorem ipsum dolor si amet.
      Lorem ips  um dolor si amet. Lorem ipsum dolor si amet. Lorem ipsum dol or si amet. Lore m ipsum dolor si amet.
      Lorem ipsum dolor si amet. Lorem ipsum dolor si amet. Lorem ipsum dolor si  amet. Lorem ipsum dolor si amet.
      Lorem ips um dolor si amet. Lorem ipsum d olor si amet. Lorem ipsum dolor si amet. Lorem ipsum dolor si amet.
      Lorem ipsum dolor si amet. Lorem ipsum dolor si  a met. Lorem ipsum dolor si amet. Lorem ipsum dolor si amet.
      Loremum dolor si amet. Lorem ipsum dolor si amet. Lorem ipsum dolor si amet.
      Lorem  ipsum dolor si amet. Lorem ipsum dolor si amet. Lorem ipsum dolor si amet. Lorem i psum dolor si amet.
      Lorem ipsum dolor si amet. Lorem ipsum dolor si amet. Lorem ipsum dolor si amet. Lorem ipsum dolor si amet.
      Lorem ipsum dolor si amet. Lorem ipsum dolor si amet. Lorem ipsum dolor si amet. Lorem ipsum dolor si amet.
      Lorem ipsum dolor si amet. Lorem ipsum dolor si amet. Lorem ipsum dolor si amet. Lorem ipsum dolor si amet.
    </p>
  </mat-card-content>
</mat-card>